<a href="https://colab.research.google.com/github/ritam-sarkar/python_libraries/blob/main/numpy_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np

In [3]:
python_list = [1,2,3]
print(python_list, type(python_list))
arr1 = np.array([1,2,3])
print(arr1, type(arr1))

[1, 2, 3] <class 'list'>
[1 2 3] <class 'numpy.ndarray'>

#### Vectorized operation no lopp needed

In [4]:
# print with lambda
print("add 10 with each x on python list",[x+10 for x in python_list])
print("vectorized add",arr1+10)
print("add in list with numpy",np.add(python_list,10))

add 10 with each x on python list [11, 12, 13]
vectorized add [11 12 13]
add in list with numpy [11 12 13]

Other methods of numpy

In [5]:
print('print zeroes', np.zeros(3))
print('print ones for 3X2 dimension', np.ones((3,2)))
print('arrange 0 to 10 with gap of 2', np.arange(0,10,2))
print('random value between 2 to 3', np.random.rand(2,3))

print zeroes [0. 0. 0.]
print ones for 3X2 dimension [[1. 1.]
 [1. 1.]
 [1. 1.]]
arrange 0 to 10 with gap of 2 [0 2 4 6 8]
random value between 2 to 3 [[0.7038283  0.87895881 0.11692295]
 [0.18823208 0.00662201 0.50436802]]

Type promotion




int → float → complex → object

In [6]:
arr_int = np.array([1, 2, 3])
arr_float = np.array([1.0, 2.0, 3.0])
arr_mixed = np.array([1, 2.5, 3])  # Mixed types → promoted to float
arr_mixed2 = np.array([1, "hello", 3])
print('promoted to float ',arr_mixed)
print('promoted to string object ',arr_mixed2)

promoted to float  [1.  2.5 3. ]
promoted to string object  ['1' 'hello' '3']